html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  }


body{
    background:url(../images/bg7.jpg);
    background-size:cover;
    background-position:top;
    min-height:100vh;
    font-size:1em;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
}


.contentCol{
    background:#ddd;
    /* background:rgba(255, 255, 255, .3); */
    /* background:rgba(130, 130, 150, .4); */
    background:rgba(150, 70, 200, .4);
    /* background:rgba(70, 56, 132, .7); */
    /* background:rgba(70, 26, 112, .7); */
    /* background:rgba(38, 52, 126, .5); */
    border-radius:10px; 
    margin:0px auto;
    padding-bottom:10px;
    /* margin-bottom:40px; */
}

header{
    text-align:center;
    /* background:rgba(255, 255, 255, .2); */
    padding-bottom:7px;
}

#headerImg{
    width:100%;
    padding:10px 0px;
}



.answerBox h3{
    color:#fff;
    padding-left:10px;
}

.answerWrapper{
    padding:20px;
}


.answerBox{
    padding:0px;
    margin: 10px 0px;
}

.answer{
    text-align:left;
}


.game{
    text-align:center;
}

.start{
    text-align:center;
    padding:100px 0px;
    color:#fff;
}

.results{
    text-align:center;
}

#answerPage{
    display:none;
}

#resultsPage{
    display:none;
    padding-top:20px;
    padding-bottom:20px;
}    


#gameContent{
    display:none;
    padding:20px;
}

#directionsText{
    padding-top:20px;
}

.buttons{
    display:inline;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
}


.btn{
    vertical-align:inherit;
}


.buttons{
    width:47%;
    display:inline-block;
    margin-bottom:0px;
    /* background:rgba(150, 70, 200, .8); */
    background:rgba(255, 255, 255, .9);
    color:#4b1575;
    border-radius:10px;
}

#startButton,
#playAgainButton {
    width:50%;
    margin:0px auto;
}

/* .buttons:link{ */
    /* background:rgba(90, 56, 132, .7); */
    /* background:rgba(92, 36, 147, .7); */
/*     background:#4b1575; */
    /* color:#fff;
    border: 1px solid #4b1575;
} */



.buttons:nth-child(odd) {
  margin-right: 12px;
}


.question h2{
    font-size:1.3em;
    font-weight:600;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    color:#4b1575;
    margin:10px 0px;
}


.question{
    /* background:#6c757d; */
    /* background:rgba(150, 70, 200, .8);
    color:#fff; */
    background:rgba(255, 255, 255, .9);
    margin:5px 12px 0px 12px;
    padding:20px;
    border-radius: 5px;
}

#timeRemainingText{
    font-weight:bold;
    color:#fff;
}

#currentQuestion{
    margin-bottom:5px;
    color:#fff;
}






@media (max-width: 575.98px) {
    #headerImg{
        width:100%;
    }

    .buttons{
        width:100%;
    }


}

@media (max-width: 767.98px) {
    .question{
        margin:5px 0px 0px 0px;

}

}


@media (min-width: 576px) and (max-width: 767.98px) { 
    #headerImg{
        width:75%;
    }

    .buttons{
        width:100%;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    #headerImg{
        width:70%;
    }
}

@media (min-width: 768px){
    .buttons{
        width:46.5%;
        margin-bottom:5px;
    }

    .answerBox{
        margin: 5px 0px;
    }
}



@media (min-width: 992px) and (max-width: 1199.98px) { 
    #headerImg{
        width:60%;
    }
}

@media (min-width: 1200px) { 
    #headerImg{
        width:50%;
    }
    .buttons{
        width:47%;
    }
}

@media (min-width: 1400px) { 
    #headerImg{
        width:40%;
    }
}