html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }


body{
    background:url(../images/bg7.jpg);
    background-size:cover;
    background-position:top;
    min-height:100vh;
}


.contentCol{
    background:#ddd;
    min-height:500px;
    opacity:.9;
}

#header{
    text-align:center;
    background:rgba(255, 255, 255, .05);
}

#headerImg{
    width:55%;
    padding:10px 0px;
}